<footer class="footer">
  <div class="footer__top">
    <div class="footer__contacts">
      <h2 class="footer__title third-title">приглашаем к сотрудничеству дилеров!</h2>
      <div class="footer__address">
        <span class="footer__address-street second-desc">ул. Большая Конюшенная, д. 19/8</span>
        <span class="footer__address-city second-desc">Санкт-Петербург</span>
      </div>
    </div>
    <div class="footer__map">
      <iframe class="footer__map-frame" allowfullscreen loading="lazy"
        src="https://yandex.ru/map-widget/v1/?um=constructor%3Af16ee581a93623888912b0e0e26e63f18269aeac15c41eb26081f391e69dc7eb&amp;source=constructor"></iframe>
      <!-- <picture>
				<source srcset="img/icons/map-pin-desk.png" media="(min-width: 1440px)">
				<source srcset="img/icons/map-pin-tablet.png" media="(min-width: 768px)">
				<img class="footer__map-pin" src="img/icons/map-pin-mobile.png" alt="map pin">
		</picture> -->
    </div>
  </div>
  <div class="container">
    <div class="footer__bottom">
      <a href="index.html" class="footer__logo logo">
        <svg class="logo-text">
          <use xlink:href="img/icons/sprite.svg#logo-text"></use>
        </svg>
      </a>
      <div class="socials">
        <a class="socials__link" href="#">
          <svg class="socials__icon">
            <use xlink:href="img/icons/sprite.svg#vk"></use>
          </svg>
        </a>
        <a class="socials__link" href="#">
          <svg class="socials__icon">
            <use xlink:href="img/icons/sprite.svg#youtube"></use>
          </svg>
        </a>
        <a class="socials__link" href="#">
          <svg class="socials__icon">
            <use xlink:href="img/icons/sprite.svg#telegram"></use>
          </svg>
        </a>
      </div>

      <div class="html-academy">
        <a class="html-academy-link" href="#">HTML Academy</a>
        <svg class="html-academy-icon">
          <use xlink:href="img/icons/sprite.svg#logo-html"></use>
        </svg>
      </div>
    </div>
  </div>
</footer>