:root {
  // colors
  --color-black-main: #000000;
  --color-white-main: #ffffff;
  --color-white-opacity: rgba(255, 255, 255, 0.3);
  --color-bg-green: #68b738;
  --color-bg-green-hover: #5eaa2f;
  --color-bg-grey-basic: #e6e6e6;
  --color-bg-grey-second: #f2f2f2;
  --color-bg-grey-third: #d9d9d9;
  --color-dark-grey: #444444;
  --color-dark-grey-special: #222222;
  --color-dark-grey-opacity: rgba(68, 68, 68, 0.3);
  --color-bg-light-grey: #eaeaea;
  --color-bg-hover-grey: #ebebeb;
  --color-border-grey: #cdcdcd;
  --color-border-grey-dotted: #b2b2b2;
  --color-border-input: #e7e7e7;
  --color-border-error: #ff8282;
  --color-radio-hover: #bababa;

  // fonts
  --basic-family: "Oswald", sans-serif;
  --text-family: "Arial", "Helvetica", sans-serif;
}
