.footer {
  background: var(--color-bg-grey-second);
}
.footer__top {
  position: relative;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 26px 20px;
  background: var(--color-white-main);
}
@media (min-width: 768px) {
  .footer__contacts {
    padding: 57px 70px;
  }
}
@media (min-width: 1440px) {
  .footer__contacts {
    position: absolute;
    max-width: 565px;
    z-index: 1;
    top: 95px;
    left: 110px;
    padding: 56px 80px;
    height: 198px;
  }
}
.footer__contacts--inner {
  background: var(--color-bg-grey-second);
}
@media (min-width: 768px) {
  .footer__contacts--inner {
    background: var(--color-bg-grey-second);
    padding-right: 0;
    padding-left: 0;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
@media (min-width: 1440px) {
  .footer__contacts--inner {
    background: var(--color-white-main);
    padding-right: 80px;
    padding-left: 80px;
  }
}
.footer__title {
  max-width: 139px;
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .footer__title {
    max-width: 171px;
    font-size: 20px;
    line-height: 1.2;
  }
}
.footer__address {
  max-width: 139px;
}
.footer__address-street {
  line-height: 1.2;
}
@media (min-width: 768px) {
  .footer__address-street {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 17px;
  }
}
.footer__address-city {
  line-height: 1.5;
}
@media (min-width: 768px) {
  .footer__address-city {
    font-size: 16px;
    line-height: 1.5;
  }
}
.footer__map {
  position: relative;
  height: 362px;
}
.footer__map-frame {
  border: 0;
  width: 100%;
  height: 100%;
}
.footer__bottom {
  padding-top: 36px;
  padding-bottom: 26px;
}
@media (min-width: 768px) {
  .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.footer__logo {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .footer__logo {
    margin-bottom: 0;
  }
}
.footer__logo .logo-text {
  position: static;
  width: 128px;
  height: 24px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 24px;
  border-top: 1px solid var(--color-bg-grey-third);
  border-bottom: 1px solid var(--color-bg-grey-third);
}
@media (min-width: 768px) {
  .socials {
    border: 0;
    padding: 0;
  }
}
.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 24px;
}
.socials__link:last-child {
  margin-right: 0;
}
.socials__link:hover .socials__icon {
  fill: var(--color-bg-green);
}
.socials__link:focus {
  fill: var(--color-bg-green);
  opacity: 0.5;
}
.socials__icon {
  display: block;
  width: 28px;
  height: 18px;
  -webkit-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}

.html-academy {
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (min-width: 768px) {
  .html-academy {
    margin-top: 0;
  }
  .html-academy:hover .html-academy-icon {
    fill: var(--color-bg-green);
  }
}
.html-academy-link {
  display: block;
  font-family: var(--text-family);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-dark-grey);
}
@media (min-width: 768px) {
  .html-academy-link {
    margin-right: 22px;
  }
}
.html-academy-icon {
  width: 27px;
  height: 34px;
  -webkit-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}
/*# sourceMappingURL=footer.css.map */