@media (min-width: 768px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .form__submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.form__btn {
  width: 100%;
}
@media (min-width: 1440px) {
  .form__btn {
    min-width: 568px;
  }
}

.fieldset {
  border: 0;
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px 20px 27px 20px;
}
.fieldset:first-child, .fieldset:nth-child(2) {
  border-bottom: 1px solid var(--color-bg-grey-third);
}
@media (min-width: 768px) {
  .fieldset:first-child, .fieldset:nth-child(2) {
    border-bottom: 0;
  }
}
@media (min-width: 768px) {
  .fieldset {
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    margin-bottom: 70px;
  }
}
@media (min-width: 1440px) {
  .fieldset--info {
    width: 45%;
  }
  .fieldset--choice {
    width: 45%;
  }
  .fieldset--contacts, .fieldset--comments, .fieldset--additional {
    width: 100%;
  }
}
.fieldset__title {
  max-width: 230px;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 0;
  padding: 26px 20px 26px 20px;
  margin-left: -20px;
  position: relative;
  background: var(--color-white-main);
}
@media (min-width: 768px) {
  .fieldset__title {
    max-width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: -40px;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.5;
  }
}
.fieldset__title::after {
  content: "";
  display: block;
  position: absolute;
  width: 100vw;
  height: 3px;
  background: var(--color-bg-green);
  right: 0;
  top: 50%;
  z-index: -1;
}
.fieldset__title::before {
  content: "";
  display: block;
  position: absolute;
  width: 100vw;
  height: 3px;
  background: var(--color-bg-green);
  right: 0;
  top: 50%;
  -webkit-transform: translate(100%);
  -ms-transform: translate(100%);
  transform: translate(100%);
  z-index: -1;
}
@media (min-width: 768px) {
  .fieldset__wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }
}
@media (min-width: 1440px) {
  .fieldset__wrap {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;
}
.radio:last-child {
  margin-bottom: 0;
}
.radio__label {
  font-family: var(--basic-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  margin-right: 12px;
  color: var(--color-dark-grey);
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .radio__label {
    font-size: 20px;
    line-height: 1.5;
  }
}
.radio__name {
  padding: 14px;
  border: 1px solid var(--color-border-input);
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-family: var(--basic-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  padding-right: 50px;
  color: var(--color-dark-grey);
}
@media (min-width: 768px) {
  .radio__name {
    font-size: 20px;
    line-height: 1.5;
    padding: 10px 50px 10px 20px;
  }
}
.radio__name::-webkit-input-placeholder {
  font-family: var(--basic-family);
  font-weight: 400;
  line-height: 1.2;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--color-dark-grey);
}
.radio__name::-moz-placeholder {
  font-family: var(--basic-family);
  font-weight: 400;
  line-height: 1.2;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--color-dark-grey);
}
.radio__name:-ms-input-placeholder {
  font-family: var(--basic-family);
  font-weight: 400;
  line-height: 1.2;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--color-dark-grey);
}
.radio__name::-ms-input-placeholder {
  font-family: var(--basic-family);
  font-weight: 400;
  line-height: 1.2;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--color-dark-grey);
}
.radio__name::placeholder {
  font-family: var(--basic-family);
  font-weight: 400;
  line-height: 1.2;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--color-dark-grey);
}
@media (min-width: 768px) {
  .radio__name::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 1.5;
  }
  .radio__name::-moz-placeholder {
    font-size: 20px;
    line-height: 1.5;
  }
  .radio__name:-ms-input-placeholder {
    font-size: 20px;
    line-height: 1.5;
  }
  .radio__name::-ms-input-placeholder {
    font-size: 20px;
    line-height: 1.5;
  }
  .radio__name::placeholder {
    font-size: 20px;
    line-height: 1.5;
  }
}
.radio__name:hover {
  border: 1px solid var(--color-border-grey);
}
.radio__name:focus {
  -webkit-box-shadow: 0 0 1px var(--color-dark-grey);
  box-shadow: 0 0 1px var(--color-dark-grey);
  border: 1px solid var(--color-dark-grey);
}
.radio__name:focus + .radio__icon {
  fill: var(--color-bg-green);
}
.radio__icon {
  width: 20px;
  height: 20px;
  right: 20px;
  position: absolute;
  fill: var(--color-dark-grey-special);
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.checkbox {
  margin-bottom: 13px;
}
.checkbox:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .checkbox-wrap {
    padding: 25px;
    border: 1px solid var(--color-border-input);
  }
}
@media (min-width: 1440px) {
  .checkbox-wrap {
    height: 100%;
  }
}
.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: var(--basic-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-dark-grey-special);
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .checkbox__label {
    font-size: 20px;
    line-height: 1.5;
  }
}
.checkbox__label:hover .checkbox__fake {
  border: 1px solid var(--color-radio-hover);
}
.checkbox__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
}
.checkbox__real:checked ~ .checkbox__fake::after {
  display: block;
}
.checkbox__real:disabled ~ .checkbox__fake::after {
  opacity: 0.3;
}
.checkbox__fake {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--color-border-grey);
  margin-right: 15px;
  position: relative;
}
.checkbox__fake::after {
  content: "";
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 13px;
  height: 13px;
  background: var(--color-bg-green);
  border-radius: 50%;
}
.checkbox__fake--square {
  width: 40px;
  height: 40px;
  border-radius: 0;
}
.checkbox__fake--square::after {
  width: 24px;
  height: 24px;
  border-radius: 0;
  background: url(../img/svg/tick.svg) no-repeat;
}

.textarea {
  font-family: var(--basic-family);
  font-weight: 400;
  line-height: 1.2;
  font-size: 16px;
  color: var(--color-dark-grey);
  width: 100%;
  height: 150px;
  border-color: var(--color-border-input);
  padding: 10px 15px;
}
@media (min-width: 768px) {
  .textarea {
    height: 174px;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 1.5;
  }
}
.textarea::-webkit-input-placeholder {
  font-family: var(--basic-family);
  font-weight: 400;
  line-height: 1.2;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--color-dark-grey);
}
.textarea::-moz-placeholder {
  font-family: var(--basic-family);
  font-weight: 400;
  line-height: 1.2;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--color-dark-grey);
}
.textarea:-ms-input-placeholder {
  font-family: var(--basic-family);
  font-weight: 400;
  line-height: 1.2;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--color-dark-grey);
}
.textarea::-ms-input-placeholder {
  font-family: var(--basic-family);
  font-weight: 400;
  line-height: 1.2;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--color-dark-grey);
}
.textarea::placeholder {
  font-family: var(--basic-family);
  font-weight: 400;
  line-height: 1.2;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--color-dark-grey);
}
@media (min-width: 768px) {
  .textarea::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 1.5;
  }
  .textarea::-moz-placeholder {
    font-size: 20px;
    line-height: 1.5;
  }
  .textarea:-ms-input-placeholder {
    font-size: 20px;
    line-height: 1.5;
  }
  .textarea::-ms-input-placeholder {
    font-size: 20px;
    line-height: 1.5;
  }
  .textarea::placeholder {
    font-size: 20px;
    line-height: 1.5;
  }
}

.required {
  margin-top: 20px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .required {
    margin-top: 0;
    margin-left: 100px;
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .required {
    margin-left: 80px;
  }
}
/*# sourceMappingURL=form.css.map */